<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">NavBar</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/books">books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/genres">genres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/authors">authors</a>
        </li>

    </ul>
</nav>